services:
  frontend:
    image: node:20
    working_dir: /app
    volumes:
      - ./frontend:/app
      # react, tailwind, recharts in npm dependencies in imaginary package.json
    command: sh -c "npm install && npm run dev -- --host"
    environment:
      # using Vite
      VITE_API_BASE_URL: http://localhost:3001
    ports:
      - "5173:5173"

  backend:
    image: node:20
    working_dir: /app
    volumes:
      - ./backend:/app
    command: sh -c "npm install && npm run dev"
    environment:
      NODE_ENV: development
      PORT: 3001
      DATABASE_URL: <postgres connection>
      YOUTUBE_API_KEY: <api key>
    depends_on:
      - db
    ports:
      - "3001:3001"

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: yt_analytics
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
